* {
    box-sizing: border-box;
    /* height: 500px;
    background-color: blue;
    margin: 30px;
    border-radius: 15px;
    margin: 50px auto; */
}
.Nav{
    display: flex;
    /* width: 100%; */
    background-color: rgba(255, 255, 255, 0.356);
    margin: 1% auto;
    justify-content: center;
    border-radius: 70px;
    /* position: static; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    position: fixed;
    top: 10px;
    left: 30%;
    z-index: 100;
    align-items: center;
}
.Nav nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.Nav nav ul li {
    float: left;
    text-align: center;
    font-weight: bold;
    color: rgb(2, 95, 95);
    padding: 10px;
    /* background-color: rgb(247, 224, 196); */
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
}
.Nav nav ul li a{
    text-decoration: none;
}
.Nav nav ul li a:visited {
    color: rgb(2, 95, 95);
}
.Nav nav ul li a:any-link {
    color: rgb(2, 95, 95);
}
/* .Nav table tr  td.nav_hover {
    display: inline-flex;
    gap: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(2, 95, 95);
    padding: 10px;
    background-color: rgb(247, 224, 196);
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
}
.Nav table tr  td.nav_hover a:hover{
    background-color: rgb(2, 95, 95);
    color: white;
} */
/* .Nav table tr  td.nav_hover a{
    text-decoration: none;
    color: rgb(2, 95, 95);padding: 10px;
    background-color: rgb(247, 224, 196);
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
} */

body {
    background-color: rgb(241, 241, 210);
    padding: 30px;
}

h1 {
    text-align: center;
    color: rgb(2, 95, 95);
    font-size: 7em;
    font-family: Satoshi;
    line-height: 120px;
}

.moddel {
    height: 100%;
    /* background-color: blue; */
    margin: 10px;
    border-radius: 60px;
    width: 40%;
}
.moddel img {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.moddel_1 {
    height: 100%;
    /* background-color: rgb(0, 255, 76); */
    margin: 10px;
    border-radius: 10%;
    width: 55%;
}
.moddel_1 img {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}
.moddel_2 {
    height: 100%;
    margin-top: 5%px;
    border-radius: 10%;
    width: 40%;
    padding-top: 2%;
    /* background-color: aqua; */
    margin-left: 2%;
}

p {
    text-align: center;
    color: rgba(2, 82, 82, 0.712);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 3%;
}

.head {
    color: rgb(2, 95, 95);
    font-weight: bold;
}

/* .flottant div {
    display: flex;
    /* margin-bottom: 50px;} */
section {
    display: flex;
}
.clr {
    clear: both;
}

 section .flottant_1 div {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 50px; */
}

.clr {
    clear: both;
}

/* section {
    margin-top: 50px;
    margin-bottom: 70px;
} */

.header {
    padding: 2%;
    width: 100%;
    margin: 1% auto;
    height: 4%;
    ;
}

@font-face {
    font-family: Satoshi;
    src: url(\fonts\Satoshi-Bold.otf);
}

table,
tr.header,
td {
    padding-top: 10px;

}

.moddel:hover,
.moddel_1:hover {
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
    /* box-shadow: 4% 4% 8% rgba(0, 0, 0, 0.2); */
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(2, 95, 95);
    margin: 50px auto;
}

td.body {
    line-height: 40px;
    margin-right: 20px;
    font-weight: 500;
    color: rgba(2, 82, 82, 0.712);
}

/* a copy od model_2 cuz to have the new text with the colous was tidous */
.copy {
    height: 400px;
    margin-top: 150px;
    border-radius: 60px;
    width: 40%;
    padding-top: 50px;
    /* background-color: aqua; */
    margin-left: 50px;
    font-weight: 500;
    color: rgba(2, 82, 82, 0.712)
}
.copy_hover:hover {
    color: rgb(2, 95, 95);
}
.textbox {
    background-color: rosybrown;
}